@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 25rem;
  height: calc(25rem * 1.5);
  color: white;
  background-color: #334f71;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 30px 60px; */
  row-gap: 18px;
}
.topSpanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}
.countryCitySpan {
  letter-spacing: 1px;
  font-size: 22px;
}
.localTimeSpan {
  font-size: 38px;
  font-weight: 700;
}
.currentDateSpan {
  font-size: 22px;
  letter-spacing: 1px;
}
.tempCSpan {
  font-size: 30px;
  font-weight: 400;
}
.midSpanOther {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.windSSpan {
  font-size: 30px;
  font-weight: 400;
}
.humiditySpan {
  font-size: 30px;
  font-weight: 400;
}
.feelsLikeSpan {
  font-size: 30px;
  font-weight: 400;
}
.SearchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#search-bar {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}
::placeholder {
  color: white;
  font-size: 20px;
}
.fa-location-dot {
  font-size: 30px;
}
.fa-magnifying-glass {
  border-radius: 50%;
  font-size: large;
  background-color: lightblue;
  color: white;
  border: transparent;
  padding: 5px;
}
